.random-color {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-color > h2 {
  text-align: center;
}

.interface {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.interface button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.color-block {
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
