.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 50rem;
    height: 50rem;
    position: relative;
}

.image-container > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrows {
    position: absolute;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.arrows:hover {
    color: lightgray;
    transform: scale(110%) translateY(-50%);
}

.arrow-left {
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}

.arrow-right {
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

.selection {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

.circle-selector {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
