html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 1.8rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

#page-heading {
  text-align: center;
}

#separator {
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
